<p>
  posts works!
</p>
<ul *ngFor="let post of posts">
    <li>{{post.title}}<br>{{post.body}}<br>
    <button (click)="getComments(post.id)"><!--<a [routerLink]="['/comments',post.id]" ">-->Show Comments</button>
      <ul  *ngFor="let comment of comments">
        <li *ngIf="post.id==comment.postId">{{comment.body}}</li></ul>
 </li>
</ul> 







<!--<button (click)="getComments(post.postId)"> Show Comments</button>
    <div *ngFor="let comment of comments">{{comment.name}}</div></li>
    
    </ul>-->