<p>
  user works!
</p>

<ul *ngFor="let user of users">
    <li><a [routerLink]="['/posts',user.id]" (click)="getPosts(user.id)">{{user.name}}</a></li></ul>

    <h1>Posts</h1>
        <ul *ngIf="selectedUser">
          <li *ngFor="let selectedUser of selectedUser">{{selectedUser.title}}
            <button (click)="getComments(selectedUser.id)">Show Comments</button>
          
          </li>
        </ul>

          
      <h1>Comments</h1> 

      <ul *ngIf="Comments">
          <li *ngFor="let Comments of Comments">{{Comments.body}}
           
          
          </li>
        </ul>
      
     
   
 
 
   

    